<footer class="site-footer">
  <div class="row">
    <div class="col-lg-12 social-icons-row">
      <ul id="social-icons">
        <li><a href="https://github.com/ktagilbert"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://plus.google.com/u/0/+KatieGilbertStoryArch"><i class="fa fa-google-plus" aria-hidden="true"></a></i></li>
        <li><a href="https://twitter.com/@KT_a_Gilbert"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/gilbertkatie"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <ul class="footer-list">
        <li>Home</li>
        <li>Portfolio</li>
        <li>Blog</li>
      </ul>
    </div>
      <div class="col-lg-3">
        <ul class="footer-list">
          <li><a href="tel:971-212-3698"></a></li>
          <li><a href="mailto:ktagilbert@gmail.com"></a></li>
        </ul>
      </div>
      <div class="col-lg-7">
        <p class="text-small pull-right">Point Dexter is a local eye care clinic. We take eye health seriously and make your comfort our top priority. That is why we offer modern eye exam practices and
          take the time to make sure you choose the right pair of glasses or contacts for your lifestyle. What can we do for you today?
        </p>
        <p class="text-small pull-right">Copyright© 2016-2017</p>
      </div>
    </div>
  </div>
</footer>
