<footer class="site-footer">

  <div>
    <span class="footer-heading">
      <h4>Do You Like What You See Here?</h4>
      <h5>send me an email to get in contact sometime</h5>
      <h6><a href="mailto:ktagilbert@gmail.com">ktagilbert@gmail.com</a></h6>
    </span>
     <ul class="footer-list">
        <li>
            <a class="social-icon" href="">
              <img src="/assets/github.svg" />
            </a>
        </li>
        <li>
            <a class="social-icon" href="">
              <img src="/assets/twitter.png" />
            </a>
          </li>
          <li>
            <a class="social-icon" href="">
              <img src="/assets/icon-instagram.png" />
            </a>
          </li> 
       </ul>
       <ul class="design-by">
         <li>  
          <a href="https://www.linkedin.com/in/gilbertkatie">site designed by Katie Gilbert
          </a>
        </li>
      </ul>
 </div>

</footer>
