<footer class="site-footer">
  <div class="row">
    <div class="col-lg-12 social-icons-row">
      <ul id="social-icons">
        <li><a href="https://github.com/ktagilbert"><i class="fa fa-github" aria-hidden="true"></i></a></li>
        <li><a href="https://plus.google.com/u/0/+KatieGilbertStoryArch"><i class="fa fa-google-plus" aria-hidden="true"></a></i></li>
        <li><a href="https://twitter.com/@KT_a_Gilbert"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/gilbertkatie"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
      <ul class="footer-list">
        <li><a href="/">Home</a></li>
        <li><a href="/portfolio/">Portfolio</a></li>
        <li><a href="/blog/">Blog</a></li>
      </ul>
    </div>
      <div class="col-lg-3">
        <ul class="footer-list">
          <li><a href="tel:971-212-3698"></a></li>
          <li><a href="mailto:ktagilbert@gmail.com"></a></li>
        </ul>
      </div>
      <div class="col-lg-7">
        <p class="text-small pull-right">
          Reach out to me to find out how I can help improve your SEO rankings or help you with a new website project.
          I am always happy to any questions and will get back to you right away. I can't wait to hear from you.
        </p>
        <p class="text-small pull-right">Copyright© 2016-2017</p>
      </div>
    </div>
  </div>
</footer>
