<header class="site-header">

  <!-- <div class="wrapper"> -->
      <!-- <img src ="/assets/arrow-alt.png/" class="categories-dropdown" />
      <img src ="/assets/navicon.png/" id="mobile-menu" /> -->

  <ul id="menu">
      <li class="menu-item"><a href="/">Home</li>
      <li class="menu-item"><a href="/about">About</a></li>
      <li class="menu-item"><a href="/portfolio">Portfolio</a></li>
      <!-- <li class="menu-item"><a href="/jsstudy/">JS Study</a></li> -->
      <ul id=social-icons>
        <li><a href="https://twitter.com/KT_a_Gilbert"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://github.com/ktagilbert"><i class="fa fa-github"></i></a></li>
        <li><a href="mailto:ktagilbert@gmail.com"><i class="fa fa-envelope"></i></a></li>
      </ul>
  </ul>



<div id=mobile-wrap>
  <span id="mobile-btn"></span>

  <span id="mobile-menu">
    <ul>
      <li><a href="/">Home</li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
      </ul>
  </span>
</div>

</header>
