<header class="site-header">

  <!-- <div class="wrapper"> -->
      <!-- <img src ="/assets/arrow-alt.png/" class="categories-dropdown" />
      <img src ="/assets/navicon.png/" id="mobile-menu" /> -->

  <ul id="menu">
      <li class="menu-item"><a href="/">Home</li>
      <li class="menu-item"><a href="/about">About</a></li>
      <li class="menu-item"><a href="/portfolio">Portfolio</a></li>
  </ul>



<div id=mobile-wrap>
  <span id="mobile-btn"></span>

  <span id="mobile-menu">
    <ul>
      <li><a href="/">Home</li>
        <li><a href="/about">About</a></li>
        <li><a href="/portfolio">Portfolio</a></li>
      </ul>
  </span>
</div>

</header>
