<header class="site-header">

<nav id="menu" class="navbar navbar-default" role="navigation">
  <ul>
    <li class="menu-item pull-left"><a href="/">Home</a></li>
    <li class="menu-item pull-left"><a href="/portfolio/">Portfolio</a></li>
    <li class="menu-item pull-left"><a href="/blog/">Blog</a></li>
    <!-- <li class="menu-item"><a href="/jsstudy/">JS Study</a></li> -->
    <li class="menu-item pull-right"><a href="https://twitter.com/KT_a_Gilbert"><i class="fa fa-twitter"></i></a></li>
    <li class="menu-item pull-right"><a href="https://github.com/ktagilbert"><i class="fa fa-github"></i></a></li>
    <li class="menu-item pull-right"><a href="mailto:ktagilbert@gmail.com"><i class="fa fa-envelope"></i></a></li>
  </ul>
</nav>

</header>
