<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Alice" />
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lobster" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55144371-2', 'auto');
    ga('send', 'pageview');
  </script>
  <script>

		$(document).ready(function() {
      
      //navigation menu: toggles arrow img and shows menu

      $('.categories-dropdown').on('mouseover', function(event) {
        event.preventDefault();
        $('.side-categories').show();
        $('.categories-dropdown').hide();
      });

      $(".side-categories").on('mouseleave', function() {
        $('.side-categories').hide();
        $('.categories-dropdown').show();
      });

      //home page slid down

      //mobile menu

      $('#mobile-menu').on('click', function(event) {
        event.preventDefault();
        $('.side-categories').show();          
      });

      //projects hover interaction 

      $('.projects-img').on('mouseover', function(event) {
        $(this).siblings('.project-description').show();
      });
      $('.projects-img').on('mouseleave', function() {
        $('.project-description').hide();
      }); 

      //about page slidedown/fadein

      $(document).ready(function() {
        $('#about-page').slideDown(1000, function() {
          $('.about-content').fadeIn(700);
        });
      });

      //posts header slidedown/fadein to keep with style of about page

       $(document).ready(function() {
        $('.post-header').slideDown(1000, function() {
          $('.post-title').fadeIn(700);
        });
      });
    
      //press resume button to get resume displayed full width
      //on press of button
      //append first div with resume feature

      $('#resume-button').click(function(event){
        event.preventDefault();
        $("#resume-feature").fadeIn();
        $('.about-content').hide();
        $('#about-page').hide();
      });


      //JS Study Program

      // var qas = [
      //   {
      //     correct: "foo",
      //     question: "huh?",
      //     answers: [
      //       "foo",
      //       "bar",
      //       "my butt",
      //       "your butt"
      //     ] 
      //   },
      //   {
      //     correct: "chocolate",
      //     question: "what the hell is 'javascript'?",
      //     answers: [
      //       "chocolate",
      //       "bar",
      //       "in",
      //       "your butt ( ͡° ͜ʖ ͡°)"
      //     ] 
      //   },
      //  {
          // question: "explain how 'this' works",
          // answers: [
          //   "'this' refers to the owner of the function",
          //   "'this' is the title of the function that you can't for the life of you understand",
          //   "'this' is the name of a function that you have created",
          //   "None of the above"
          // ]
          // },
          // "what is closure and when do use it?",
          // question: "what is a good example of a use case for an anonymous function?",
          //   answers: [
          //   "I don't know",
          //   "to store some functionality in a variable and pass it around",
          //   "to help create reusable code",
          //   "None of the above"
          //   ]
          // },
          // {
          // question: "what are the three types of objects?",
          // answers: [
          //   "host objects, native objects, and global objects",
          //   "global objects, foreign objects, hidden objects",
          //   "foreign objects, native objects, host objects",
          //   "native objects, foreign objects, host objects",
          //   ]
          // },
          // {
          //   [
          //   question:"what's the difference between host objects and native objects?",
          //   answers: [
          //   "native objects are native to the JavaScript language while host objects are objects provided by the host environment",
          //   "native objects are objects that are native to your text editor and host objects are objects provided by the host environment",
          //   "native objects are native to the JavaScript language and host objects are created by director the infamous Bong Joon-ho",
          //   "native objects are objects that you crate while host objects are objects that are created by your hosting server"
          //   ]
          // },
          //  {
          //   "what's the difference between an attribute and a property?",
          //  {
          //   "What's the difference between the document load event and document ready event?",
          //  {
          //   [
          // question: "How do you add a value to the begining of an array?",
          // answers: [
          //   ".push()", 
          //   ".shift()",
          //   ".pop()",
          //   ".unShift()"
          //   ]
          //  },
          //  {
          //   [
          // question: "how do you add a value to the end of an array?",
          // answers: [
          //   ".shift()",
          //   ".pop()",
          //   ".unShift()",
          //   ".push()",
          //   ]
          // },
          // {
          // question: "how do you remove an element from the begining of an array?",
          // answers: [
          //   ".unShift()",
          //   ".pop()",
          //   ".push()",
          //   ".shift()",
          //   ]
          // },
          // {
          // question: "how do you remove an element from the end of an array?",
          // answers: [
          //    ".push()",
          //    ".pop()",
          //    ".shift()",
          //    ".unShift()",
          //    ]
          //  },
          // {
          // question: "what is a ternary expression?",
          //   answers: [
          //   "a statement that will take three operators",
          //   "a statement wherein if the first argument is true, it will then return the value of the second argument",
          //   "a statement wherein if the the first argument is false, it will then return the value of the third argument",
          //   "All of the above"
          //   ]
          // },
          // {
          //  question: "What tools would you use to test your code's functionality?",
          //  answers: [
          //   "the JavaScript console",
          //   "pure street smarts",
          //   "wait for the program to break and then fix it",
          //   "All you have to do is type in the 'use-strict' expression and nothing will go wrong",
          //   ]
          // },
          // {
          // {
          // question: "Can you have an array within an array? What is this called?",
          // answers: [
          //   "oh, that's an easy one! of course. It's a 2-D Array",
          //   "uhm...of course not",
          //   "what's an array?",
          //   "Of course you can! It's a multi-functional array",
          //   ]
          // },
          // {
          //   "What is an expression?",
          // {
          //   question: "what is an argument?",
          //   answers: 
          //   [
          //   "something you avoid at all costs",
          //   "when the console argues that you have done something wrong",
          //   ]
          // },
          // {
          //   "why would you use a function constructor?",
          //      answers: [
          //      "if you want to have multiple uses or instances for an object of the same type",
          //      "when you want to construct a perfect function",
          //      "when you want to make a working model of a function so you use pseudo code",
          //      "when you want to make a function that will help you write better code",
          //      ]
          //    }
          // {
          //  question: "what is a method?",
          // answers: [
          //   "JavaScript's method for scaring you away from programming",
          //   "a way to get your application to finally work",
          //   "a way to assign functions to the properties of an object",
          //   "cheats cheats that work like magic in the middle of your function"
          //   ]
          // },
          //  {
          //   "what is an object literal?",
          // // {
          //   question: "what is an object?",
          // answers: [
          //   "a container for properties",
          //   "a way to organize data",
          //   "a way to collect data",
          //   "All of the above"
          //   ]
          // }
          // },
          //   question: "when would you use a for loop?",
          // answers: [
          //   "to run a loop until a condition is false",
          //   "to loop through elements in an array without having to know how many elements the array contains",
          //   "to loop through an array infinitely,"
          //   "All of the above",
          //   ]
          // },
          //  {
          // },
          //   question: "when would you use a while loop?",
          // answers: [
          //   "to test a condition while it is true",
          //   "to test a condition while it is false",
          //   "to test a condition while a certain function is being performed",
          //   "None of the above"
          //   ]
          // },
          // {
          // question: "why would use a switch statement?",
          // answers: [
          //   "to switch to a new programming langauge",
          //   "to switch to a new job title with the press of a button",
          //   "to switch your code when the case matches",
          //   "to switch to a new method",
          //   ]
          // },
          //  {
          // },
          //  question: "when would you use a continue statement?",
          //   answers: [
          //   "to tell your program, 'hey continue performing this function even if it is not true",
          //   "to break a loop and start execution at the next iteration",
          //   "to break a loop and start execution at the previous iteration",
          //   "to break out of a loop all together",
          //   ]
          // },
          //  {
          //  question: "can you make your own functions?",
          // answers: [
          //   "haha! no",
          //   "nope",
          //   "yes",
          //   "only sometimes. It depends really",
          //   ]
          // },
          // {
          //   question: "Can you explain what a function is?",
          //   answers: [
          //     "functions encapsulate a block of code that perform a certain function",
          //     "functions are their own global environments",
          //     "functions are ways to specify the behavior of objects",
          //     "All of the above"
          //     ]
          // },
          //  {
          //  question: "when would you use a try statement?",
          //   answers: [
          //   "to tell your program, 'if this case is not true, execute this next argument that I am giving you.'",
          //   "to tell your program, 'hey, maybe this argument will work. Go ahead and try it for me'",
          //   "to try out a new method",
          //   "It doesn't matter because you should never use it",
          //   ]
          // },
          //  {
          //   question: "what is a throw statement?",
          // answers: [
          //   "a statement that you can throw into your function",
          //   "a statement that makes throws your function into a different direction",
          //   "exceptions in a function that you define",
          //   "exceptions in a function that are defined for you"
          //   ]
          // },
         //  {
         //  question: "what does it mean when someone says 'this is deprecated'?",
         //  answers: [
         //    "this is an old piece of code that is now obsolete",
         //    "this is a piece of code that will make everything you have worked on break",
         //    "this is a piece of code that is kind of old but you can still use it",
         //    "None of the above"
         //    ]
         //  },
         // {
          //  question: "can you explain the concept of variable holding scope?",
          // answers: [
          //   "sure, variables either have local (functional-level) or global scope",
          //   "a variable's scope is the contect in which the variable exists",
          //   "scope specifies from where you can access a variable and whether you have access to the variable in that context",
          //   "All of the above"
          //   ]
          // },
          // question: "will local or global variable be executed first?"
          // answers: [
          //   "global variables",
          //   "local variables",
          //   "neither has priority",
          //   "I don't know"
          //   ]
          // },
          // {
          //  "objects hold state and behavior. What does this mean?",
          // {
          //  question: "can you explain what prototypes are?",
          //   answers: [
          //   "You can think of prototypes as templates for objects. They store values to be shared between instances of objects,"
          //   ]
          // },
          // {
          //  [
          //  question: Can you explain inheritance?
          //  answers:[
          //  "objects of similiar types can inherit properties from each other",
          //   ]
//           // }
//        ];

//       var counter = 0;

//       $('.ready-button').on ('click', function(event){
//         $('.ready-button').hide();
//         $('.next-question').show();
//         nextQuestion();
//       });

//       // right now it displays the next element in the array 
//       // BUT leaves the previous element as well. 

//       $(".next-question").on('click', function(event) {
//         event.preventDefault();

//         if (counter == qas.length) {
//           $(".question-wrapper").html("<h1>YOU FINISHED</h1>");
//         } else {
//           nextQuestion();
//         }
//       });

//       function nextQuestion() {

//         $('.answers').empty();

//         var qa = qas[counter];
//         $('.question').html(qa.question);
        
//         $.each(qa.answers, function(i, answer) {
//           $('.answers').append("<input type='radio' name='check' id='selection'/>" + answer  + "<br />");

//         });

//         counter++; 
//       }

//       //check to see which element has been selected
//       //if answer is correct
//         //show (good job)
//       //if answer is "I don't know"
//         //show "good job for not b.s'ing!"
//       //else
//         //display correct answer in red font

//       //end of quiz
//         //display try again button 
        //re-start the quiz (refresh the page)
    }); 
 	</script>
 </head>