/*********************************
search field
*********************************/

.search {
	overflow: hidden;
	height: 80px;
}

#search-text {
	float: right;
	margin: 1% 1%;
	outline: none;
	width: 20%;
  width: 18%;
  padding: 5px;
  font-size: 0.7em;
}

@media (max-width: 720px) {
	#search-text {
		display: initial;
		width: 80%
	}
}

#no-results {
	display: none;
	text-align: center;
}

.fa-search {
		float: right;
		padding: 1.5% 2% 0 0;
		cursor: pointer;
		color: $skyblue;
	  font-size: 20px;

		&:hover {
			color: #666;
	}
}

/*********************************
mobile menu
*********************************/

#mobile-menu {
	display: none;
	list-style: none;
	width: 100%;
	height: 30%;
	padding: 5% 0;
	z-index: 100;
	font-family: "PT Sans", "sans-serif";

	li {
		list-style: none;
    padding: 25px 0;
	}
	a {
		color: $skyblue;
	}
}


/*********************************
post-nav buttons
*********************************/

#title-prev {
	float: left;
	width: 45%;
	height: 100px;
}

#title-next {
	float: right;
	width: 45%;
	height: 100px;
}

#submit {
  background-color: transparent;;
  outline: none;
  border: 1px solid $skyblue;
  color: $skyblue;
  width: 100%;
  padding: 20px;
}

#submit:hover {
  background-color: $skyblue;
  color: #fff;
}
