/*********************************
sticky footer
*********************************/

.site-footer {
	border: 2px solid #222;
	position: absolute;
  bottom: 0%;
  width: 100%;
  height: 200px;
	background-color: #dff1f8;
	top: 100%;
	clear: both;

	a, a:visited {
		color: #111;
		text-shadow: none;
	}

	a:hover {
		color: #292768;
		text-decoration: underline;
	}
}

.footer-content {
  color: #111;
	text-align: right;
	width: 100%;
	padding: 10px 10px 0 10px;
	font-size: 1.5em;
	float: right;

	h3 {
		padding-bottom: 0px;
		color: #111;
		font-family: 700;
		font-size: 1em;
		font-family: "PT Sans", "sans-serif";
	}
}

.footer-list {
	li {
		text-align: right;
		font-family: pt sans;
		font-size: 16px;
		list-style: none;
		padding: 5px 5px 0 5px;
		line-height: 1;
		font-family: "PT Sans", "sans-serif";
	}
	li:last-of-type {
		font-size: 12px;
	}
}
