/*********************************
sticky footer
*********************************/

.site-footer {
  background-color: #1A6B86;
  color: #fff;
  clear: both;
	position: absolute;
	top: 100%;
}

.site-footer > ul, li {
  list-style: none;
  display: inline-block;
  padding: 20px;
  font-size: 14px;
}


.site-footer > #social-icons > li {
  padding: 0 20px;
  margin: 0;
}

.site-footer {
  #social-icons {
    li {
      a {
        padding: 5px, 0;
        color: #fff;
      }
    }
  }
}

.site-footer > #social-icons > li > a > i {
  color: #fff;
}

.site-footer > #social-icons > li > a:hover {
  font-size: 1.1em;
  cursor: pointer;
  color: #1A6B86;
}

.site-footer > #social-icons {
  padding: 0;
  margin: 0;
}

.social-icons-row {
  text-align: center;
  height: 70px;
  background-color: #2599BF;
}
