

// .site-title {
//     line-height: 56px;
//     margin-bottom: 0;
//     float: left;
// }


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
    padding-bottom: 40px;
    font-family: georgia;
    letter-spacing: 3px;
    text-align: center;
}

.post-list {
    list-style: none;
    margin-bottom: 0px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-bottom: 5%;

    > li {
      width: 25%;
      padding: 30px;
      clear: none;
      display: inline-block;
      // vertical-align: text-top;
      align-items: center;
    }
    > img, .index-img {
      align-items: center;
      display: inline-flex;
      overflow: hidden;
    }
    > .excerpt {
      align-items: baseline;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    padding-top: 80px;
    margin: 5% 0 0;
}

.post-link {
    display: block;
    color: #5a5a5a;
    font-weight: 900;
}
/**
 * Posts
 */

img {
    max-width: 100%;
    max-height: 100%;
}

.post-header {
    margin-bottom: $spacing-unit;
    height: 250px;
}

.post-title {
    color: #FFB3AA;
    text-align: center;
    padding-top: 160px;
    font-family: georgia, serif;
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        padding-top: 15px;
        padding-bottom: 20px;
        font-size: 32px
    }

    h2 {
        font-size: 28px;
        padding-top: 15px;
        padding-bottom: 20px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        padding-top: 15px;
        padding-bottom: 20px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
