/*********************************
about page
*********************************/

.page-header {
  height: 300px !important;
  background: url('/assets/shattered.png');
  margin-bottom: 3%;
  margin-top: 0;
  width: 100%;
  border: none;
}

.header-1 {
    text-align: center;
    padding-top: 50px;
    color: #1A6B86;
    font-weight: bold;
    padding-top: 110px !important;
}

.page-header {
  .header-1 {
    font-size: 3em;
  }
}

.blue-page-header {
  z-index: -1;
  height: 300px;
  right: 0;
  top: 0%;
  bottom: 100%;
  left: 0%;
  position: absolute;
  background: no-repeat;
  background-size: 100%;
  background-position: center;
}

@media(max-width: 650px) {
  .blue-page-header {
    height: 150px;
  }
}


.absolute-container {
  position: relative;
  background-color: #fff;
  margin: auto;
  padding: 5%;
  z-index: 10;
  clear: both;
  padding: 0;
  margin-top: 10%;
}

@media(max-width: 650px) {
  .absolute-container {
    margin-top: 0;
    padding: 0 10;
    z-index: -100;
  }
  h1 {
    padding: 4% 0 0;
    font-size: 3em;
  }
}

/*********************************
portfolio page
*********************************/
#portfolio-intro {
	text-align: center;
	margin-top: 5%;
	padding: 5% 0;
	margin: 0% 5%;

	h1 {
		color: $orange;
	}

	p {
		margin: auto;
	}
}

#portfolio-list {
	list-style: none;
	margin-left: 0;

	.parent-container {
		height: 500px;
	}

	.folio-item {
		display: inline-block;
		width: 44%;
		margin: 4%;
		padding-bottom: 30px;
		margin: 2%;
    padding: 0;
	}
}


.page-wrapper {
	margin: 0% 10% 10%;
}

.folio-img {
	padding-bottom: 0;
}

.folio-img:hover {
	opacity: 0.1;
}

.folio-item:hover {
	background-color: $orange;
	z-index: 1000;
}

.overlay {
	color: #fff;
	position: absolute;
	display: block;
	width: 35%;
	padding: 50px 0 0 0;
	margin-bottom: 0;
	text-align: center;
	display: none;
	font-weight: 500;
}
