/*********************************
desktop menu
*********************************/

.navbar-default {
  width: 100%;
  background-color: transparent;
  z-index: 20;
	top: 0%;
  color: #111;
  border: none;
  text-align: right;
  height: 80px;
  position: fixed;
  padding: 40px 0 0 0;
}


.menu-item {
	padding: 0 10px;
	margin-right: 20px;
	list-style: none;
	display: inline-block;
	line-height: 1;
	font-size: 0.8em;
	font-weight: bold;
	font-family: "PT Sans", "sans-serif";
	padding: 0;

	i {
		font-size: 1.1em;
	}

	a {
		color: #111;
		-webkit-text-size-adjust: none;
	}
}


@media(max-width: 750px) {
	.footer-content {
		h3 {
			font-size: 18px;
		}
	}
}
