/*********************************
desktop menu
*********************************/

#menu {
	text-align: left;
	padding: 10px 0 0 10px;
	width: 100%;
  font-family: "PT Sans", "sans-serif";;
	font-weight: 700;
	color: #111;
  height: 40px;
  position: fixed;
  background-color: transparent;
	margin: 0;
	top: 0%;
	z-index: 2000;
}

.menu-item {
	padding: 0 10px;
	margin-right: 20px;
	list-style: none;
	display: inline-block;
	line-height: 1;
	font-size: 14px;

	a {
		color: $blue;
		-webkit-text-size-adjust: none;
	}
}

#social-icons {
	list-style: none;
	float: right;
	margin-right: 15px;

	li {
		display: inline-block;
		padding: 0 5px;
		margin-right: 10px;
		border-radius: 20px;
	}
	a {
		color: $blue;
	}
}

@media(max-width: 750px) {
	.footer-content {
		h3 {
			font-size: 18px;
		}
	}
}
