//variables

$header-align: center;
$container-color: #fff;
$large: 80px; 
$rookie-blue: #40a9f2; 

//extend

.split-margin {
	margin-left: auto;
	margin-right: auto;
}

//header

.site-header {
	color: #fff;
	border-bottom: 0px;
	padding-left: 10px;
	border-top: 0px;
	opacity: 0.85;
	background-color: #191330;
}

.site-title, .site-title:visited {
	padding-left: 50px;
	float: left;
	font-family: arial;
	font-size: 20px;
	letter-spacing: 1px;
	color: #fff;	
	//margin: 20px;
	position: absolute;
	z-index: 2;
	margin-left: 10px;
}

.site-title:hover {
	color: #FFCC00;
}


.site-nav {
	.page-link {
		font-size: 16px;
		padding-right: 30px;
		color: #fff;
	}
	a:hover {
		color: #FFCC00;
	}
}

.page-heading {
	color: #fff;
	padding-top: 200px;
	padding-bottom: 200px;
	margin-bottom: 0px;	
	font-size: 50px;
	font-family: 'Lato', serif;
	font-weight: 600;
	background-color: $rookie-blue
}

#heading-emphasis {
	font-style: italic;
}



.nav-alt {
	z-index: 100000;
	display: none;
}

//dropdown-menu


.categories-dropdown, img {
	width: 30px;
	float: left;
	padding-left: 10px;
	padding-top: 10px;
	padding-right: 30px;	
	position: absolute;
	z-index: 100000;
	padding-bottom: 30px;
}	

.side-categories {
	display: none;
	width: 20%;
	float: left;
	background: #fff;
	list-style: none;
	padding: 10px;
	padding-top: 55px;
	margin: 0px;
	line-height: 4;
	text-align: center;
	position: relative;
	z-index: -1;
}

.side-categories li {
	display: block;
	margin: 0px;
	padding: 10px;
	font-weight: 500;

}

.side-categories 
	a:hover {
	padding: 0px;
	margin: 0px;
	float: left;
	width: 100%;
	color: #191330;
	font-size: 18px;
}

//post-details

.post-meta {
	text-align: center;
}

.post-content {
	padding-left: 20%;
	padding-right: 20%;	
}

.post-list {
	padding-top: 30px;
	margin: 0px;
	@extend .split-margin;
	display: inline-block;
}

.post-list li {
	@extend .split-margin;
	padding-left: 20%;
	padding-right: 20%;
}

.post-link {
	font-family: "Alice", sans-serif;
	font-size: 28px;
	color: #5a5a5a;
	font-weight: 900; 
}

.post-title {
	font-family: "Nunito", sans-serif;
	font-size: 50px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: $header-align;
}

 //contribute-container

.contribute-container {
 	background-color: $rookie-blue;
 	display: block;
 	padding: 0px;
 	margin: 0px;
 	line-height: 50px;
 	padding-top: 15px;
 	padding-bottom: 15px;
}

.container-head {
 	text-align: $header-align;
 	font-size: 26px;
 	font-weight: 400px;
 	color: $container-color;
 	display: block;
 	padding-top: 18px;
}

 .container-text {
	li, a:visited {
		list-style: none;
		text-align: $header-align;
		width: 210px;
		margin-top: 20px;
		border: solid 4px #fff;
		display: block;
		padding: 5px;
		color: #fff;
		@extend .split-margin;
	}
	li, a:hover {
		color: #fff;
		font-size: 16px;
	}
}

.button {
	color: #fff;
  	list-style: none;
  	text-align: center;	
}

//footer

.site-footer {
	background: #5a5a5a;
	color: $container-color;
	height: 200px;
	overflow: scroll;

	a, a:visited {
		color: $container-color;
	}
}

.footer-list {
	li {
		display: inline;
		padding: 10px;
		float: right;
	}
	li a:hover {
		font-size: 16px;
	
	}
	.footer-heading {
		float: left;
	}
	.wrapper {
		@extend .split-margin;
		padding-left: 30px;
		padding-right: 0px;
	}
}

#design-by {
	color: #fff;
	font-family: "Alice";
	font-size: 12px;
	float: right;
	margin: 30px;
	padding-top: 50px
}


@media(max-width: 870px) {
	.site-footer {
		.footer-list {
			li {		
				display: block;
				float: none;
				text-align: center;
				margin-left: auto;
				margin-right: auto;
			}
			.footer-heading {
				overflow: scroll;  
				display: block;
				text-align: $header-align;
				float: none;
			}
		}
	}
}

@media(max-width: 457px) {
	.page-heading {
		font-size: 30px;
	}
}

@media(max-width: 750px) {
	.side-categories {
		width: 100%;
		overflow: hidden;
	}
}

//When screen gets to 700 width, I needed a way to collapse the list into a block v. 
//inline block. margins center the list even when viewed on a smaller screen.
//Overflow allows all of of the list items to still appear on the screen within 
//the reduced width. 