//variables

$header-align: center;
$container-color: #fff;
$large: 80px; 
$rookie-blue: #71BFF5; 

//extend

.split-margin {
	margin-left: auto;
	margin-right: auto;
}

.page-image {
	width: 145px;
  	border-radius: 100%;
  	padding: 0px;
  	margin-left: 41%;
  	height: 145px;
}

//header

.site-header {
	border-bottom: 0px;
	padding-left: 10px;
	border-top: 0px;
	padding-bottom: $large;
}

.site-title, .site-title:visited {
	float: left;
	font-family: arial;
	font-size: 20px;
	letter-spacing: 1px;
	color: #111;	
}


.site-nav {
	.page-link {
		font-size: 16px;
		padding-right: 30px;
		color: #111;
	}
}

.page-heading {
	font-size: 38px;
	padding-bottom: 130px;
	border-bottom: solid;

	#heading-emphasis {
		color: $rookie-blue;
		font-style: italic;
	}
}

//post-details

.post-list {
	li {
		padding-top: $large;
	}
}

.post-link {
	font-family: "georgia; sans-serif";
	font-size: 28px;
	color: #5a5a5a;
	font-weight: 900;
}

.post-title {
	font-family: georgia;
	padding-top: 40px;
	text-align: $header-align;
}

.post-meta {
 	padding-bottom: 25px;
}

//page elements

.page-feature {
 	img {
  		@extend .page-image; //rounded image above a page-header
  	}
}

 //contribute-container

.contribute-container {
 	background-color: $rookie-blue;
 	height: 280px;
 	display: block;
 	padding: 0px;
 	margin: 0px;
 	line-height: 50px;
 	padding-top: 15px;
}

.container-head {
 	text-align: $header-align;
 	font-size: 26px;
 	font-weight: 400px;
 	color: $container-color;
 	display: block;
 	padding-top: 18px;
}

.container-text {
 	li, .a:visited {
 		list-style: none;
 		color: $container-color;
 		text-align: $header-align;
 		width: 210px;
 		margin-top: 20px;
 		border: solid 2.5px #fff;
 		display: block;
 		padding: 5px;
 		@extend .split-margin;
 	}	
}

.button {
		color: $container-color;
}

//footer

.site-footer {
	 background: #5a5a5a;
	 color: $container-color;
	 height: 200px;
	 overflow: scroll;
		 a, .a:visited {
			color: $container-color;
		}
}

.footer-list {
	li {
		display: inline;
		padding: 10px;
		float: right;
	}
	.footer-heading {
			float: left;
	}
		.wrapper {
			@extend .split-margin;
			padding-left: 30px;
			padding-right: 0px;
	}
}

@media(max-width: 700px) {
	.site-footer {
		.footer-list {		
			display: block;
			float: none;
			text-align: center;
			margin-left: auto;
			margin-right: auto;
		}
		.footer-heading {
			overflow: scroll;  
			display: block;
			text-align: $header-align;
			float: none;
		}
	}
}

//When screen gets to 700 width, I needed a way to collapse the list into a block v. 
//inline block. margins center the list even when viewed on a smaller screen.
//Overflow allows all of of the list items to still appear on the screen within 
//the reduced width. 