/*********************************
fonts
*********************************/

@font-face {
	font-family: "lato";
	src: url("//fonts.googleapis.com/css?family=Lato");
}

@font-face {
	font-family: "PT Sans", "sans-serif";
	src: url("//fonts.googleapis.com/css?family=PT+Sans");
}

#intro-paragraph {
		text-align: center;
    font-weight: 500;
		font-size: 1.1em;
    width: 75%;
    margin: auto;
    padding-bottom: 10%;
}

#background-header {
	text-align: center;
	margin: 5% 0;
}

@media(max-width: 700px) {
	#line-one {
		padding-top: 40% !important;
	}
	.page-heading {
		height: 500px !important;
	}
}
