/*********************************
fonts
*********************************/

.hero-header {
	font-size: 6em;
}

.contact-input {
	width: 100%;
	margin: 10px 0;
	outline: none;
}

#intro-paragraph {
		text-align: center;
    font-weight: 500;
		font-size: 1.1em;
    width: 75%;
    margin: auto;
    padding-bottom: 10%;
}

#background-header {
	text-align: center;
	margin: 5% 0;
}

@media(max-width: 700px) {
	#line-one {
		padding-top: 40% !important;
	}
	.page-heading {
		min-height: 800px !important;
	}
}

@media(max-width: 700px) {
	h2 {
		font-size: 2em;
	}
}
