/*********************************
variables
*********************************/

$header-align: center;
$container-color: #fff;
$large: 80px;
$orange: #EB4144;
$skyblue: #DDF1FC;
$tan: #F8F3DF;
$blue: #292768;
