/*********************************
variables
*********************************/

$header-align: center;
$container-color: #fff;
$large: 80px;
$orange: #EB4144;
$skyblue: rgb(67, 181, 219);
$grey: rgba(173, 216, 230, 0.2);
$gold: #fcc118;
