---
layout: default
---

<div id="about-page">

<div class="post">
	<div class="wrapper">
	<article class="about-content">

		<span class="my-background">
			<h1>Hi, my name is Katie</h1>
			<p>Welcome to Rookie Dev. Here, you will be able to find resources to help you learn the basics of web development. Rookie Dev has been made to help aspiring web developers learn things in an easy and understandable way. It is my goal to help others learn while I do the same.</p>
			<h1>My Background</h1>
			<p>I initially studied creative writing in college. After graduation, I went into digital marketing to focus on inbound lead generation and content creation. At my first job out of college, I became adept at designing landing pages as well as generating and tracking inbound leads. Yet, over time I became more and more interested in fixing little site bugs that popped up over the weeks. Anything from creating interactive buttons for subcribers to fixing off-centered divs became fun challenges for me. It came to the point that I was enjoying these tasks more than my actual job functions. So I began making time to learn more about HTML and CSS. At this time, I was also encouraged to pursue web development over marketing.
			</p>
			<p> Learning about web development has been difficult but also one of the most exciting things I have ever taught myself. In short, I love it!
			</p>
			<!-- <button class="resume-button">Want To See A Resume?</button> -->
		</span>
  	</article>
	</div>

</div>

</div>


<div id="resume-feature">
	<div id='resume-name'>
		<h1>Katie Gilbert</h1>
		<p>Freelance Front End Developer</p>
		<p><a href='https://github.com/ktagilbert'</a>https://github.com/ktagilbert</p>
	</div>
  <span class="resume-header">
  	<p>SKILLS</p>
  </span>

  <ul id="skill-lists">

     <li class="inline-list">
      <ul>
        <li class="skill-set">HTML</li>
        <li class="skill-graphic">div</li>
      </ul>
    </li>

     <li class="inline-list">
      <ul>
        <li class="skill-set">CSS/SCSS</li>
        <li class="skill-graphic">.resume-container {</li>
      </ul>
    </li>

    <li class="inline-list">
      <ul>
        <li class="skill-set">JavaScript</li>
        <li class="skill-graphic">var name = "katie"</li>
      </ul>
    </li>

    <li class="inline-list">
      <ul>
        <li class="skill-set">jQuery</li>
        <li class="skill-graphic">$('#resume').show();</li>
      </ul>
    </li>

    <li class="inline-list">
      <ul>
        <li class="skill-set">Markdown</li>
        <li class="skill-graphic">## My Skill Set</li>
      </ul>
    </li>

    <li class="inline-list">
      <ul>
        <li class="skill-set">UI Design</li>
        <li class="skill-graphic">.md</li>
      </ul>
    </li>

    <li class="inline-list">
      <ul>
        <li class="skill-set">Photoshop</li>
        <li class="skill-graphic">Ps</li>
      </ul>
    </li>

  </ul>

  <span class="resume-header">EXPERIENCE</span>

  <div class="job-list">
      <span class="inline-experience-left">
        <h2>Wonder of Sound</h2></li>
        <h3> Freelance Front End Developer - July, 2015-Present (ongoing)</h3>
      </span>
      <span class="inline-experience-right">
        <p>Front-end development and design for Wonder of Sound</p>
        <ul>
          <li class="inline-job-list">UI design using Photoshop mockups</li>
          <li class="inline-job-list">CSS</li>
          <li class="inline-job-list">HTML</li>
          <li class="inline-job-list">Handlebars.js</li>
          <li class="inline-job-list">jQuery</li>
          <li class="inline-job-list">Distributed Ruby on Rails and Node.js stack</li>
        </ul>
      </span>
    </div>

    <div class="job-list">
      <span class="inline-experience-left">
        <h2>Rookie Dev</h2>
        <h3>June, 2015 - Present (ongoing project)</h3>
      </span>
      <span class="inline-experience-right">
        <p>A static blog site in Jekyll, deployed with Heroku</p>
         <ul>
            <li class="inline-job-list">HTML</li>
            <li class="inline-job-list">SCSS</li>
            <li class="inline-job-list">jQuery</li>
            <li class="inline-job-list">Mobile-first design</li>
            <li class="inline-job-list">Uses the rack-based Thin application server</li>
          </ul>
      </span>
    </div>

    <div class="job-list">
      <span class="inline-experience-left">
        <h2>Caring Senior Service</h2>
        <h3>Digital Marketing Specialist  (9 months)</h3>
      </span>
      <span class="inline-experience-right">
        <p>Developed my interest in front-end development. Hired to help build & execute a digital strategy from the ground up while working on inbound lead generation and content creation. Ended up deploying sub domains and fixing front-end site issues.
        </p>
        <ul>
            <li class="inline-job-list">Designed landing pages</li>
            <li class="inline-job-list">Edited our site’s CSS and HTML</li>
            <li class="inline-job-list">Designed images for social media content</li>
            <li class="inline-job-list">Maintained a large JSON document for a site plugin</li>
          </ul>
      </span>
    </div>

    <div class="job-list">
      <span class="inline-experience-left">
        <h2>Magis: Alumni Living the Mission</h2>
        <h3>Marketing & Office Assistant  (1 year, 5 months)</h3>
      </span>
      <span class="inline-experience-right">
        <p>Worked on planning events for alumni on campus, designed original marketing materials, and performed general office and marketing tasks.
        </p>
        <ul>
          <li>Worked with Adobe Photoshop to create original marketing flyers</li>
        </ul>
      </span>
    </div>
<div id="edu">
  <span class="resume-header">EDUCATION</span>
    <h1>SU</h1>
  	<h2>Seattle University</h2>
    <p>B.A. English<p>

</div>

</div>
