---
layout: default
---
<div class="about-content">
  <h2>Hi, my name is Katie</h2>
    <p>Welcome to Rookie Dev. Here, you will be able to find resources to help you learn the basics of web development. Rookie Dev has been made to help aspiring web developers learn things in an easy and understandable way as well. It is my goal to help others learn while I do the same. 
    </p>
    <p>Rookie Dev also happens to be my first project as an entry level web developer. I hope you enjoy the space.</p>
    <br>
</div>
<div class="post">
<div class="about-background">
		<article class="post-content">
    		{{ content }}
  		</article>
</div>

<!-- </div> -->

<!--contribute-container-->

 <div class="contribute-container">
 		<span class="container-head">Want To Contribute to Rookie Dev?
 		</span>
 	  <ul>
 		 <li>
 			  <a href="mailto:ktagilbert@gmail.com">Submit an idea or article</a>
 		 </li>
  	</ul>
 </div>