---
layout: default
---

<div class="about-sidebar">
		<img src ="/assets/katie.jpg"/>
		<h1>Looking for a front-end developer?</h1>
			<ul>
				<li><a href="mailto:ktagilbert@gmail.com"><i class="fa fa-envelope-o"></i>Send me an e-mail & let me know what you are looking for</a></li>
			</ul>

		<h1>Services</h1>
			<ul>
				<li><i class="fa fa-check-circle"></i>Mobile First Designs</li>
				<li><i class="fa fa-check-circle"></i>Animations and Functionality</li>
				<li><i class="fa fa-check-circle"></i>Branding</li>
				<li><i class="fa fa-check-circle"></i>A Great User Experience</li>
			</ul>

		<h1>My Skills</h1>
			<ul>
				<li><i class="fa fa-circle"></i></i>SASS</li>
				<li><i class="fa fa-circle"></i>jQuery</li>
				<li><i class="fa fa-circle"></i>JavaScript</li>
				<li><i class="fa fa-circle"></i>UI/UX Design</li>
				<li><i class="fa fa-circle"></i>HTML & Markdown</li>
				<li><i class="fa fa-circle"></i>Adobe Photoshop</li>
				<li><i class="fa fa-circle"></i>InDesign</li>
			<ul>

			<span id="back-to-about">
				<a href="">
					<i class="fa fa-chevron-left"></i>
					<p>Back to About</p>
				</a>
			</span>
</div>

<div id="about-page">
<div class="post">
<div class="wrapper">
	<article class="about-content">

		<span class="my-background">
			<h1 class="about-header">Hi, my name is Katie</h1>
			<p>Welcome to Rookie Dev. Here, you will be able to find resources to help you learn the basics of web development. Rookie Dev has been made to help aspiring web developers learn things in an easy and understandable way. It is my goal to help others learn while I do the same.</p>
			<h1 class="about-header">My Background</h1>
			<p>I initially studied creative writing in college. After graduation, I went into digital marketing to focus on inbound lead generation and content creation. At my first job out of college, I became adept at designing landing pages as well as generating and tracking inbound leads. Yet, over time I became more and more interested in fixing little site bugs that popped up over the weeks. Anything from creating interactive buttons for subcribers to fixing off-centered divs became fun challenges for me.  So I began making time to learn more about HTML, CSS, and JavaScript.
			</p>
			<p> Learning about web development has been difficult but also one of the most exciting things I have ever taught myself. In short, I love it!
			</p>
			<!-- <button class="resume-button">Want To See A Resume?</button> -->
		</span>
		<div id='more-about'><button class='button'>Learn More</button></div>
  	</article>


	</div>

</div>

</div>
