---
layout: default
---
<h1 class="post-title">{{ page.title }}</h1>
<div class="post">

  <header class="post-header">
  </header>
  <!-- <div class="about-greeting">
  	<h1> Hi There!</h1>
  	<h2>My name is Katie.</h2>
  </div> -->

  	<article class="post-content">
    	{{ content }}
  	</article>
</div>
</div>

<!--contribute-container-->

 <div class="contribute-container">
 		<span class="container-head">Want To Contribute to Rookie Dev?</span>
 	<ul>
 		<li>
 			<a href="mailto:ktagilbert@gmail.com">Submit an idea or article</a>
 		 </li>
  	</ul>
 </div>