---
layout: default
---
<div class="post">

  <header class="post-header">
  	<div class="page-feature"><img src="/assets/puppy.jpg"></div>
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
</div>
</div>

<!--contribute-container-->

 <section class="contribute-container">
 	<span class="container-text"><span class="container-head">Want To Contribute to Rookie Dev?</span>
 	<ul>
 		<li><a href="mailto:ktagilbert@gmail.com" class="button">Submit an idea or article</a></li>
 	</ul>
 </span>