---
layout: default
---

<div class="portfolio-page">

  <div id="portfolio-intro">
    <h2>My Portfolio</h2>
    <p>Here are some examples of just my best work. I have included examples of blog articles,
      an eBook that I have authored, graphics I have created, as well as some examples of my front-end development work so far.
    </p>
  </div>

  <div id="gallery-wrapper">
    <ul class="rows"
      <li>
        <img src="/assets/logostoryarch.png" />
      </li>
      <li class="portfolio-txt">
        <h4>Logo Design for Story Arch (a personal blog)</h4>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/blog2css.jpg" class="img-right" />
      </li>
      <li class="portfolio-txt">
        <h4>An orginal blog series/campaign for Caring Senior Service</h4>
        <p><a href="">Click here to go to the blog post</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/ebookcss.jpg" />
      </li>
      <li class="portfolio-txt">
        <h4>Authored an eBook on long term care for Caring Senior Service</h4>
        <p><a href="">Click here to go to the eBook</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/etumosblog.png" class="img-right" />
      </li>
      <li class="portfolio-txt">
        <h4>A blog article for Etumos LLC</h4>
        <p><a href="">Click here to the go the blog article</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/graphiccss.png" />
      </li>
      <li class="portfolio-txt">
        <h4>An infographic and blog article for Caring Senior Service</h4>
        <p><a href="">Click here to go to the blog post</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/infographicstory.jpeg" class="img-right" />
      </li>
      <li class="portfolio-txt">
        <h4>An infographic for Story Arch</h4>
        <p><a href="">Click here to see the full image</a></p>
      </li>
    </ul>

  </div>

</div>


<!--contribute-container-->

 <div class="contribute-container">
 		<span class="container-head">Want To Contribute to Rookie Dev?</span>
 	<ul>
 		<li>
 			<a href="mailto:ktagilbert@gmail.com">Submit an idea or article</a>
 		 </li>
  	</ul>
 </div>
