---
layout: default
---

<div class="portfolio-page">

  <div id="portfolio-intro">
    <h2>My Portfolio</h2>
    <p>Here are some examples of just my best work. I have included examples of blog articles,
      an eBook that I have authored, graphics I have created, as well as some examples of my front-end development work so far.
    </p>
  </div>

  <div id="gallery-wrapper">
    <ul class="rows"
      <li>
        <img src="/assets/logostoryarch.png" />
      </li>
      <li class="portfolio-txt">
        <h4>Logo Design for Story Arch (a personal blog)</h4>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/aboutpagemockupcropped.jpeg" />
      </li>
      <li class="portfolio-txt">
        <h4>UI Design Mock Up for the Rookie Dev About Page (Made in PhotoShop)</h4>
        <p><a href="https://www.pinterest.com/pin/176273772893125758/">Click here to go to see the full image</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/blog2css.jpg" />
      </li>
      <li class="portfolio-txt">
        <h4>Golden Inspirations: an orginal blog series I created for Caring Senior Service</h4>
        <p><a href="http://www.caringseniorservice.com/blog/golden-inspirations-storytelling-improve-senior-health">Click here to go to the blog post</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/ebookcss.jpg" />
      </li>
      <li class="portfolio-txt">
        <h4>The Complete Road Map to Long Term Care: an eBook that I authored for Caring Senior Service</h4>
        <p><a href="https://d2jt48ltdp5cjc.cloudfront.net/uploads/88fce90d-e7cb-4fa3-9d17-439b7d2d8cba.pdf">Click here to go to the eBook</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/etumosblog.png" />
      </li>
      <li class="portfolio-txt">
        <h4>A blog article for Etumos LLC</h4>
        <p><a href="http://etumos.com/marketing-automation/robust-and-scalable-how-to-build-your-ideal-marketing-technology-framework/">Click here to the go the blog article</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/graphiccss.png" />
      </li>
      <li class="portfolio-txt">
        <h4>An infographic and blog article for Caring Senior Service</h4>
        <p><a href="http://www.caringseniorservice.com/blog/cut-the-costs-of-senior-homecare">Click here to go to the blog post</a></p>
      </li>
    </ul>

    <ul class="rows"
      <li>
        <img src="/assets/infographicstory.jpeg" />
      </li>
      <li class="portfolio-txt">
        <h4>An infographic for Story Arch</h4>
        <p><a href="https://magic.piktochart.com/output/3608900-awesome-creative-writers">Click here to see the full image</a></p>
      </li>
    </ul>

  </div>

</div>


<!--contribute-container-->

 <div class="contribute-container">
 		<span class="container-head">Want To Contribute to Rookie Dev?</span>
 	<ul>
 		<li>
 			<a href="mailto:ktagilbert@gmail.com">Submit an idea or article</a>
 		 </li>
  	</ul>
 </div>
