---
layout: default
---

<div class="post">
  <header class="post-header">
    <h1 id=portfolio-header>Portfolio</h1>
  </header>
  <span class="projects-content">
    <ul class="portfolio-list">
      <li><a href='https://www.wonderofsound.com/'>Front-End Work For Wonder of Sound</a></li>
      <li><img src="/assets/portfoliowos.jpg" class="projects-img" /></li>
    </ul>
    <ul class="portfolio-list">
      <li class="portfolio-info">Logo Design & Welcoming Message for Literary Blog - Story Arch</li>
        <li><img src="/assets/logostoryarch.png" class="projects-img" /></li>
      </ul>
  </span>
 </div>


<!--contribute-container-->

 <div class="contribute-container">
 		<span class="container-head">Want To Contribute to Rookie Dev?</span>
 	<ul>
 		<li>
 			<a href="mailto:ktagilbert@gmail.com">Submit an idea or article</a>
 		 </li>
  	</ul>
 </div>
