---
layout: default
---
<!DOCTYPE html>
<html>
<div class="post">

  <header class="post-header">
  	<p class="post-title">{{ page.title }}</p>
  </header>

    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
<div class="wrapper"
  <article class="post-content">
    {{ content }}
  </article>

<div class="PageNavigation">
  <ul>
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">
        <li id=post-previous><</li>
      </a>
    {% endif %}
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">
        <li id="post-next">></li>
      </a>
      <a class="next" href="{{page.next.url}}"></a>
      {% endif %}
    </ul>
</div>

  <div>
      <ul class="post-nav-title">
        <a class="prev" href="{{page.previous.url}}">
          <li id="title-prev">{{page.previous.title}}</li>
        </a>
        <a class="next" href="{{page.next.url}}">
          <li id="title-next">{{page.next.title}}</li>
        </a>
      </ul>
  </div>
  {% include comments.html %}

</div>
</div>

 <!--contribute container-->

 <div class="contribute-container">
 		<span class="container-head">Want To Contribute to Rookie Dev?</span>
 	<ul>
 		<li>
 			<a href="mailto:ktagilbert@gmail.com">Submit an idea or article</a>
 		 </li>
  	</ul>
 </div>

</html>
