---
layout: default
---
<!DOCTYPE html>
<html>

<div itemscope itemtype="http://schema.org/Article" class="post">
<div class="blue-page-header">
</div>
<div class="wrapper">
  <div class="absolute-container">
  <header class="post-header">
  	<p itemprop="name" class="post-title">{{ page.title }}</p>
  </header>

<div class="text-wrapper">
  <p itemprop="datePublished" class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
    {{ page.author }}{% endif %}{% if page.meta %} •
    {{ page.meta }}{% endif %}
  </p>
  <article itemprop="articleBody" class="post-content">
    {{ content }}
  </article>

  <ul class="post-nav-title">
    <a class="post-nav-link" href="{{page.previous.url}}">
      <li id="title-prev">{{page.previous.title}}</li>
    </a>
    <a class="post-nav-link" href="{{page.next.url}}">
      <li id="title-next">{{page.next.title}}</li>
    </a>
  </ul>
  </div>
</div>
</div>
</div>

</html>
