---
layout: default
---
<!DOCTYPE html>
<html>
<div itemscope itemtype="http://schema.org/Article" class="post">


{% for post in site.posts %}
  <div class="blue-page-header" style="background-image: url('/assets/{{ page.image }}');">
  </div>
{% endfor %}

<div class="page-wrapper">
  <div class="absolute-container">
  <header class="post-header">
  	<p itemprop="name" class="post-title">{{ page.title }}</p>
  </header>

<div class="text-wrapper">
  <p itemprop="datePublished" class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} •
    {{ page.author }}{% endif %}{% if page.meta %} •
    {{ page.meta }}{% endif %}
  </p>
  <article itemprop="articleBody" class="post-content">
    {{ content }}
  </article>

  <ul class="post-nav-title">
    <a class="post-nav-link" href="{{page.previous.url}}">
      <li id="title-prev">{{page.previous.title}}</li>
    </a>
    <a class="post-nav-link" href="{{page.next.url}}">
      <li id="title-next">{{page.next.title}}</li>
    </a>
  </ul>

  <!--disqus comments-->
  {% if page.comments %}
      <div id="disqus_thread"></div>
      <script>

      (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//ktgilbert.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  {% endif %}

  </div>
</div>
</div>

<script id="dsq-count-scr" src="//ktgilbert.disqus.com/count.js" async></script>
</html>
