---
layout: default
---

<div class="post">
  <header class="post-header">
  </header>
  <span class="projects-content">
  	<h3>Here are some samples of my work!</h3>
  </span>

 <div class="project-columns">
 	<span class="column-one">
 	</span>
 	</span>
 	<span class="column-two">
 		<p>Space Saver</p>
 	</span>
 	<span class="column-three">
 		<p>Space Saver</p>
 	</span>
 </div>

 <div class="row-one">
 	<ul>
 		<li>
 			<a href="">
 				<p class="project-description">Wonder of Sound Social Media Icons</p>
 				<img src="/assets/social_icons.png" class="projects-img" />
 			</a>
 		</li>
 		<li>
 			<p class="project-description">Wonder of Sound Social Media Icons</p>
 			<img src="/assets/social_icons.png" class="projects-img" />
 		</li>
 		<li>
 			<p class="project-description">Wonder of Sound Social Media Icons</p>
 			<img src="/assets/social_icons.png" class="projects-img" />
 		</li>
 	</ul>	
 </div>

  	<article class="post-content">
    	{{ content }}
  	</article>
</div>
</div>

<!--contribute-container-->

 <div class="contribute-container">
 		<span class="container-head">Want To Contribute to Rookie Dev?</span>
 	<ul>
 		<li>
 			<a href="mailto:ktagilbert@gmail.com">Submit an idea or article</a>
 		 </li>
  	</ul>
 </div>